<h1>Minhas Tarefas</h1>

<div>
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <p>[x] <%= link_to task.title, task_path(task) %> </p>
      <p class="delete"> delete task</p>
    <%else %>
      <p>[ ] <%= link_to task.title, task_path(task) %></p>
      <p class="delete"> delete task</p>
    <% end %>
  <% end %>
</div>

<p><%= link_to "+ create new task", new_path %></p>
